In [1]:
#Panda version
import pandas
print(pandas.__version__)

1.0.5

In [2]:
#series in pandas
import pandas as pd
hola = pd.Series([23, 51, 42, 67, 33])
print(hola)
print(hola.index)
hola.values

0    23
1    51
2    42
3    67
4    33
dtype: int64
RangeIndex(start=0, stop=5, step=1)

array([23, 51, 42, 67, 33])

In [3]:
#examples by assigning index names
bike = pd.Series([100, 23, 25, 88, 77],
        index=['Dominar','Activa','Splendor','Royal Enfield','KTM'])
print(bike)
print(bike.index)
print(bike[4])
print(bike['Royal Enfield'])

Dominar          100
Activa            23
Splendor          25
Royal Enfield     88
KTM               77
dtype: int64
Index(['Dominar', 'Activa', 'Splendor', 'Royal Enfield', 'KTM'], dtype='object')
77
88

In [4]:
#naming of the values and indexes
bike.name = "comfy"
bike.index.name = "store"
bike

store
Dominar          100
Activa            23
Splendor          25
Royal Enfield     88
KTM               77
Name: comfy, dtype: int64

In [5]:
#numpy operations in pandas series
import numpy as np
print(np.sin(bike))
print("")
print(np.log(bike))
print("")
print(np.tan(bike))
print("")
print(np.pi*bike)
print("")

store
Dominar         -0.506366
Activa          -0.846220
Splendor        -0.132352
Royal Enfield    0.035398
KTM              0.999520
Name: comfy, dtype: float64

store
Dominar          4.605170
Activa           3.135494
Splendor         3.218876
Royal Enfield    4.477337
KTM              4.343805
Name: comfy, dtype: float64

store
Dominar          -0.587214
Activa            1.588153
Splendor         -0.133526
Royal Enfield     0.035421
KTM             -32.268576
Name: comfy, dtype: float64

store
Dominar          314.159265
Activa            72.256631
Splendor          78.539816
Royal Enfield    276.460154
KTM              241.902634
Name: comfy, dtype: float64

In [6]:
#creating series from dictionary
playlist = {1:'Mere sapno ki rani',2:'Chala jata hoon',3:'Pal pal dil ke pas',4:'Musafir hoon yaron',5:'Roop tera Mastana'}
print(playlist)
print("")
playlist1 = pd.Series(playlist)
print(playlist1)
print("")
playlist1.index.name = "name"
playlist1.name = "play"
print(playlist1)

{1: 'Mere sapno ki rani', 2: 'Chala jata hoon', 3: 'Pal pal dil ke pas', 4: 'Musafir hoon yaron', 5: 'Roop tera Mastana'}

1    Mere sapno ki rani
2       Chala jata hoon
3    Pal pal dil ke pas
4    Musafir hoon yaron
5     Roop tera Mastana
dtype: object

name
1    Mere sapno ki rani
2       Chala jata hoon
3    Pal pal dil ke pas
4    Musafir hoon yaron
5     Roop tera Mastana
Name: play, dtype: object

In [7]:
#dataframes
Awards = {"Singer":["Kishore Kumar","Kumar sanu","Asha","Mohamad Rafi"],
              "songs":[180,45,256,250],
              "awards":[18,10,17,36]}
print(Awards)
print("")
award = pd.DataFrame(Awards)
print(award)
print("")
award["Total"] = (award.songs + award.awards)/2
print(award)
print("")
award["Gender"] = pd.Series(["M","M","F","M"])
award

{'Singer': ['Kishore Kumar', 'Kumar sanu', 'Asha', 'Mohamad Rafi'], 'songs': [180, 45, 256, 250], 'awards': [18, 10, 17, 36]}

          Singer  songs  awards
0  Kishore Kumar    180      18
1     Kumar sanu     45      10
2           Asha    256      17
3   Mohamad Rafi    250      36

          Singer  songs  awards  Total
0  Kishore Kumar    180      18   99.0
1     Kumar sanu     45      10   27.5
2           Asha    256      17  136.5
3   Mohamad Rafi    250      36  143.0

          Singer  songs  awards  Total Gender
0  Kishore Kumar    180      18   99.0      M
1     Kumar sanu     45      10   27.5      M
2           Asha    256      17  136.5      F
3   Mohamad Rafi    250      36  143.0      M

In [8]:
#conversion
print(award.to_dict())
print('''
       ''')
pd.DataFrame(award)
award

{'Singer': {0: 'Kishore Kumar', 1: 'Kumar sanu', 2: 'Asha', 3: 'Mohamad Rafi'}, 'songs': {0: 180, 1: 45, 2: 256, 3: 250}, 'awards': {0: 18, 1: 10, 2: 17, 3: 36}, 'Total': {0: 99.0, 1: 27.5, 2: 136.5, 3: 143.0}, 'Gender': {0: 'M', 1: 'M', 2: 'F', 3: 'M'}}

          Singer  songs  awards  Total Gender
0  Kishore Kumar    180      18   99.0      M
1     Kumar sanu     45      10   27.5      M
2           Asha    256      17  136.5      F
3   Mohamad Rafi    250      36  143.0      M

In [9]:
#dataframes from a list of dicts
squares_and_cubes = [{"x":i**3,"y":i**2}for i in range(10)]
print(squares_and_cubes)
print('''

      ''')
pd.DataFrame(squares_and_cubes)

[{'x': 0, 'y': 0}, {'x': 1, 'y': 1}, {'x': 8, 'y': 4}, {'x': 27, 'y': 9}, {'x': 64, 'y': 16}, {'x': 125, 'y': 25}, {'x': 216, 'y': 36}, {'x': 343, 'y': 49}, {'x': 512, 'y': 64}, {'x': 729, 'y': 81}]

     x   y
0    0   0
1    1   1
2    8   4
3   27   9
4   64  16
5  125  25
6  216  36
7  343  49
8  512  64
9  729  81